<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation Web Test" parallel="false">
    <listeners>
        <listener class-name="com.fundingsocieties.fundingsocietiestest.extendReport.ExtentListeners"/>
    </listeners>
    <test name="Automation Web Test">
        <classes>
            <class name="com.fundingsocieties.fundingsocietiestest.ProgressPageTest">
            </class>
        </classes>
    </test>
</suite>